# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/
*.egg-info/

# Pyenv
.python-version

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# VS Code / IDEs
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
*.bak

# Compiled object files
*.so
*.o
*.a
*.out


# MMDetection-specific
work_dirs/
mmdet/outputs/
mmdet/tools/__pycache__/

# YOLO-specific
runs/
weights/
dataset_yolo/

# Ignore all YOLO runs
yolov5/runs/*

# Allow exp18 and its weights dir and best.pt
!yolov5/runs/train/exp18/


# COCO or custom dataset folders
data/coco/
data/coco/*

# Custom dataset and annotations
transformer_dataset/
transformer_dataset/*

# Checkpoints, training outputs, logs
*.log.json
*.log.txt
*.onnx
*.pb
*.engine
*.tflite

# Caches
*.cache
*.pkl

# Large media
*.mp4
*.avi
*.zip
*.tar.gz

# Prevent pushing files >100MB (safety for LFS)
# GitHub blocks these by default, but this helps locally
*.7z
*.tar
*.gz

# Ignore image/video results
*.jpg
*.png
*.jpeg
*.webp
results/
inference/
outputs/
